html,
body {
  padding: 0;
  margin: 0;
  font-family: IBM Plex Mono, Inconsolata, sans-serif;
  line-height: 1.6;
  font-size: 14px;
  background-color: var(--main-bg-color);
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

:root {
  --main-bg-color: rgba(255, 255, 251, 1);
  --main-bg-color-alpha0: rgba(255, 255, 251, 0);
  --secondary-bg-color: rgb(240, 240, 235);
  --main-accent-color: rgb(0, 147, 69);
  --main-text-color: black;
  --select-text-color: #0070f3;
}