html,
body {
  padding: 0;
  margin: 0;
  font-family: Crimson Pro, Inconsolata, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

:root {
  --main-bg-color: rgb(217, 217, 217);
  --secondary-bg-color: rgb(148, 148, 148);
  --main-accent-color: rgb(0, 147, 69);
  --main-text-color: black;
  --select-text-color: #0070f3;
}